#report_monitoring .report_monitoring_showmore {
    cursor: pointer;
    background-image: url(../pix/more.png);
    background-position: 0 0;
    height: 25px;
    width: 25px;
}

    #report_monitoring .report_monitoring_showmore:hover {
        background-position: -26px 0;
    }


#report_monitoring .report_monitoring_hidemore {
    cursor: pointer;
    background-image: url(../pix/more.png);
    background-position: -50px 0;
    height: 25px;
    width: 25px;
}

    #report_monitoring .report_monitoring_hidemore:hover {
        background-position: -75px 0;
    }
