#report_monitoring .report_monitoring_coursecat_select {
    text-align: center;
}

#report_monitoring .report_monitoring_coursecat_label {
    margin-bottom: 5px;
}

#report_monitoring .report_monitoring_table,
#report_monitoring .report_monitoring_simple_table {
    margin-top: 5px;
}

    #report_monitoring .report_monitoring_table > thead th.header,
    #report_monitoring div.report_monitoring_coursestats th.header,
    #report_monitoring div.report_monitoring_coursestats tr.lastrow > td.cell,
    #report_monitoring .report_monitoring_simple_table > thead th.header {
        font-weight: bold;
        background-color: lightgray;
    }

    #report_monitoring .report_monitoring_table th.header.c0 {
        width: 40%;
    }

    #report_monitoring .report_monitoring_table > thead th.header.c1 {
        width: 30%;
    }

    #report_monitoring .report_monitoring_table > thead th.header.c2 {
        width: 30%;
    }

    #report_monitoring .report_monitoring_table > thead th.header.lastcol {
        width: 25px;
    }

    #report_monitoring .report_monitoring_simple_table > thead th.header.lastcol {
        width: 30%;
    }

#report_monitoring .report_monitoring_red {
    background-color: rgb(240, 230, 230);
}

#report_monitoring .report_monitoring_green {
    background-color: rgb(230, 240, 230);
}

#report_monitoring .report_monitoring_orange {
    background-color: rgb(240, 200, 140);
}

#report_monitoring .report_monitoring_gray {
    background-color: rgb(240, 240, 240);
}

#report_monitoring .report_monitoring_coursename {
    margin: 0;
}

#report_monitoring .report_monitoring_separator {
    padding: 2px !important;
    border: none !important;
}

#report_monitoring td.report_monitoring_coursestats {
    padding: 0 !important;
}

#report_monitoring div.report_monitoring_coursestats {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid silver;
    border-top: none;
}

#report_monitoring .report_monitoring_coursetable {
    margin: 0 !important;
}

#report_monitoring .report_monitoring_modheader {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
}
